body {
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

h1{
    font-weight: 700;
    font-size: 2.4rem;
}

h2{
    font-weight: 700;
    font-size: 2.0rem;
}

h3{
    font-weight: 700;
    font-size: 1.6rem;
}

h4{
    font-weight: 700;
    font-size: 1.2rem;
}


#page-content-wrapper {
    min-width: 100vw;
}


/* Some Fixes */
.modal-header{
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.border-dotted{
    border-style: dotted;
}
.border-1{
    border-style:solid;
    border-width: 1px;
}
.border-2{
    border-style:solid;
    border-width: 2px;
}

.border-3{
    border-style:solid;
    border-width: 3px;
}

.hide-stuff{
    display: none;
}

.show-stuff{
    display: block;
}

.btn-fixed-150 {
    width: 150px !important;
}

.btn-fixed-200 {
    width: 200px !important;
}

.error{
    color: #dc3545;
    font-size: smaller;
}

#create-sc-name-error, #create-sc-category-id-error{
    padding-left: 150px;
    padding-top: 3px;
}



.modal-height-600p{
    height: 600px;
}

.modal-height-400p{
    height: 400px;
}

.modal-xl {
    min-width: 80%;
}

.modal-xl .modal-content {
    min-height: 60vh;
}

.modal-900 {
    min-width: 900px !important;
}

.modal-900 .modal-content {
    min-height: 40vh;
}

.pac-container {
    z-index: 9999999999 !important;
}

.font-color-lighter{
    color: rgba(0,0,0,0.4) !important;
}

.icon-color-light{
    color: rgba(0,0,0,0.1);
}

.icon-color-normal{
    color: rgba(0,0,0,0.4);
}

.tooltip-image{
    height: 128px !important;
    width: 128px !important;
    padding: 2px !important;
}

ul.fl {
    list-style: none;
    padding: 0;
}
ul.fl li {
    padding-left: 2em;
}
ul.fl li:before {
    content: "\f15c"; /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    color: rgba(0,0,0,0.4);
    font-size: 1.5em;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.horizontal { list-style:none; margin:0; padding:1px; }
.horizontal li { display:inline-block }